@media screen and (max-width: 768px) {
	#desktop-nav {
		display: none;
	}
	#mobile-nav {
		display: flex;
	}
	.img h1{
		font-size: 2rem;
		margin-top: 1.7vh;
		
		margin-left: 7vw;
	}
	.img h2{
		font-size: 1.4rem;
		margin-left: 6vw;
		margin-top: 1.5vh;
		margin-right: 4vw;
	}
	.contact-form {
		gap: 1rem; /* Reduz ainda mais o espaçamento em telas menores */
		padding: 10px; /* Reduz ainda mais o padding em telas menores */
	
	  }

	/* Estilo para o modal */

	.modal {
		display: none;  /* Oculta o modal por padrão */
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(255, 255, 255, 0.672);
		backdrop-filter: blur(10px); /* Adiciona o efeito de desfoque ao fundo */
		-webkit-backdrop-filter: blur(10px); 
		
	  }
	  .modal-content {
		position: absolute;
		left: 7%;
		width: 90%;
		top: 3%;
		height: 80%;
		background-color: rgba(124, 34, 34, 0);
		border-radius: 40px;
		margin: 10% auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1%; /* Espaço entre os itens */
	}
	
	.modal-icon {
		width: 19px;
		height: 19px;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}

	.media-container {
		width: 100%;
;		
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0%;
	}
	
	.modal-content video {
		max-height: 60vh; /* Ajusta a altura máxima */
		border-radius: 30px;
		max-width: 35vh;
		display: block;
		margin: 0 auto; /* Centraliza a imagem ou vídeo */
	
	}

	.modal-content img{
		max-height: 60vh; /* Ajusta a altura máxima */
		border-radius: 10px;
		max-width: 45vh;
		display: block;
		margin: 0 auto; /* Centraliza a imagem ou vídeo */
	
	}
	
	.nav-btn {
		width: 40px;
		height: 40px;
		bottom: 10vh;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.523);
		color: white;
		border: none;
		box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.066);
		cursor: pointer;
		border-radius: 50%;
		font-size: 2rem;
		z-index: 1;
	}

	
	.prev-btn {
		left: 1%;
	}
	
	.next-btn {
		right: 1%;
	}
	
	.modal-content p {
		text-align: left;
		font-size: 0.8rem;

		max-height: 60vh; /* Ajusta a altura máxima */
		width: 50vw;
	}
	.media-text-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
	}
	
	.media-container {
		width: 35%;
	}
	.intro-text {
		width: 100%; /* O texto ocupará 40% do container pai */
		height: auto;
		text-align: right;
		margin-right: 1%;
		background-color: #dac9c900;
		align-items: center;
	}
	  
	.close-btn {
		top: 7%;
		left: 46%;
		width: 40px;
		height: 40px;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.523);
		color: white;
		border: none;
		box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.066);
		cursor: pointer;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		z-index: 1;
		}
		
	
	  .form-group input,
	  .form-group textarea {
		font-size: 0.6rem; /* Reduz ainda mais o tamanho da fonte em telas menores */
	  }
	
	  .submit-btn {
		padding: 8px 12px;
		width: 50%; /* Ajusta a largura do botão em telas menores */
	  }
	  .project-button {
		font-weight: bold;
		font-size: 1.2rem;
	}
	.testando .text{
	  font-size: 2rem;
	  
	}
	
	.testando .text.first-text {

		font-size: 1.3rem;
	
	  }

	  .social-media {
		display: flex;
		justify-content: center; /* Centraliza horizontalmente */
		gap: 15px; /* Espaço entre os ícones */
		margin-bottom: 10px; /* Espaço abaixo dos ícones */
		padding-bottom: 1.5rem; /* Espaço interno abaixo dos ícones */
	  }
	  
  .footer {
	width: 100%;
	height: 120px; /* Ajuste conforme necessário para o footer */
	background-color: #ffffff00; /* Fundo escuro para o footer */
	color: #fff; /* Texto branco */
	text-align: center; /* Centraliza o texto */
	margin-bottom: 10% /* Espaçamento */

  }


	.content-wrapper {
    display: flex;
    flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	gap: 0.6rem;
	
	}


  .social-icon img {
	width: 32px; /* Ajuste conforme necessário para o tamanho do ícone */
	height: 32px; /* Ajuste conforme necessário para o tamanho do ícone */
	fill: #fff; /* Ajusta a cor do ícone se necessário */
  }
  .social-icon {
	display: flex;
	align-items: center;
	justify-content: center; /* Centraliza o conteúdo dentro do botão */
	width: 70px; /* Largura dos botões */
	height: 70px; /* Altura dos botões */
	border-radius: 50%; /* Botões redondos */
	background-color: #e7e7e7; /* Cor de fundo dos botões */
	transition: background-color 0.3s, transform 0.3s; /* Transição suave */
  }
  .image-column {
	flex: 0.6;
	display: flex;
	justify-content: center; /* Center the image horizontally */
	align-items: center; /* Center the image vertically */
	margin-left: auto;
	margin-right:auto;
	order: -1;
	
}
.image-column img {
    max-width: 45%; /* Adjust this value to control the image size */
    height: auto;
    border-radius: 50%; /* Optional: Makes the image circular */
}

.text-column {
    flex: 1;
    text-align: left;
    padding-right: 1.5rem; /* Espaço entre texto e imagem */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    height: 100%; /* Garante que ocupe toda a altura disponível */
	margin-left: 1.5rem;
	align-items: left;
}
.top-section {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
	gap: 1.6rem; /* Space between the image and text */
    margin-bottom: 5%; /* Space between the top and bottom sections */
}
.bottom-text {
    width: 90%;
    box-sizing: border-box;
    margin-left: 1.5rem;
    align-items: left;
	padding-right: 1.5rem;
	margin-bottom: 4%;
}
.resume-button {
    text-align: center;
    margin-right: 10%;
    margin-bottom: 5%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 colunas, ajuste conforme necessário */
    gap: 10px 10px; /* 10px entre linhas, 20px entre colunas */
    width: 100%;
    max-width: 1300px;
	margin-bottom: 8%;
}

.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition: transform 0.3s ease;
    width: 70%; /* Ocupa toda a largura da coluna */
    height: auto; /* Ajusta a altura automaticamente */
}


}

@media screen and (max-height: 720px) {
	
	
	.content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.6rem;
		overflow-y: auto;
		margin-left: 4%;
		}
		.content-wrapper2 {
			display: flex;
			flex-direction: column;
			overflow-y: hidden;
			overflow-x: hidden;
			gap: 1rem;
			margin-bottom: 10%;
			margin-right: 4%;
			overflow-y: auto;
			}
		
		.bottom-text {
			width: 90%;
			box-sizing: border-box;
			
			align-items: left;
			margin-top: 5%;
		}
		.resume-button {
			display: inline-block;
			margin-top: 10%;	
			margin-bottom: 5%;
		}
		.submit-btn {
			padding: 8px 12px;
			
		  }
	.contact-form {
		width: 92%; /* Garante que o formulário ocupe toda a largura disponível */
		min-height: 100px;/* Altura do formulário */
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: center;
		gap: 0.5rem; /* Espaçamento entre os campos do formulário */
		box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
		padding: 10px; /* Adiciona padding interno para espaçamento *//* Arredonda os cantos da card */
		margin-bottom: 5%; /* Espaçamento inferior */
		overflow-y: auto; /* Adiciona barra de rolagem vertical */
		
	  }

	  .buttons {
		display: flex;
		flex-direction: column; /* Alinha os botões verticalmente em uma coluna */
		align-items: center; /* Centraliza os botões horizontalmente dentro do contêiner */
		gap: 0.5rem; /* Espaçamento entre os botões */
		width: 96%; /* Garante que o contêiner ocupe toda a largura disponível */
		min-height: 100px;
		margin-bottom: 10%;
	}
	.image-column {
		flex: 0.5;
		margin-right: 2rem;
		display: flex;
		justify-content: center; /* Center the image horizontally */
		align-items: center; /* Center the image vertically */
	}
	

  .contact-form::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal (se necessário) */
}

}