@media screen and (max-width: 768px) {
	#desktop-nav {
		display: none;
	}
	#mobile-nav {
		display: flex;
	}
	.img {
		position: relative;
		top: 44%;
		left: 47.6%;
		max-width: 90%; 
		max-height: 70%;

		width: 500px;
		height: 700px;
		background-color: rgba(205, 205, 205, 0.564);
		border-radius: 40px;
	 
		padding-top: 1.5%;
		display: flex;
		flex-direction: column; 
		 
		justify-content: flex-start;
		gap: 4vh; 
		backdrop-filter: blur(10px); 
		-webkit-backdrop-filter: blur(10px); 
	  }


	.img h1{
		font-size: 2rem;
		margin-top: 1.7vh;
		
		margin-left: 7vw;
	}
	.img h2{
		font-size: 1.4rem;
		margin-left: 6vw;
		margin-top: 1.5vh;
		margin-right: 4vw;
	}
	.contact-form {
		gap: 1rem;
		padding: 10px;
	
	  }

	

	.modal {
		display: none;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(255, 255, 255, 0.672);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px); 
		
	  }
	  .modal-content {
		position: absolute;
		left: 7%;
		width: 90%;
		top: 3%;
		height: 80%;
		background-color: rgba(124, 34, 34, 0);
		border-radius: 40px;
		margin: 10% auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1%;
	}
	
	.modal-icon {
		width: 19px;
		height: 19px;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}

	.media-container {
		width: 100%;
;		
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0%;
	}
	
	.modal-content video {
		max-height: 60vh;
		border-radius: 30px;
		max-width: 35vh;
		display: block;
		margin: 0 auto;
	
	}

	.modal-content img{
		max-height: 60vh;
		border-radius: 10px;
		max-width: 45vh;
		display: block;
		margin: 0 auto;
	
	}
	
	.nav-btn {
		width: 40px;
		height: 40px;
		bottom: 10vh;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.523);
		color: white;
		border: none;
		box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.066);
		cursor: pointer;
		border-radius: 50%;
		font-size: 2rem;
		z-index: 1;
	}

	
	.prev-btn {
		left: 1%;
	}
	
	.next-btn {
		right: 1%;
	}
	
	.modal-content p {
		text-align: center;
		font-size: 0.8rem;

		max-height: 60vh;
		width: 50vw;
	}
	.media-text-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
	}
	
	.media-container {
		width: 35%;
	}
	.intro-text {
		width: 100%;
		height: auto;
		text-align: right;
		margin-right: 1%;
		background-color: #dac9c900;
		align-items: center;
	}
	.modal-content video {
		max-height: 55vh;
		max-width: 75vw;
		border-radius: 20px;
		display: block;
		margin: 0 auto;
	
	}
	.modal-content img {
		max-height: 55vh;
		max-width: 75vw;
		border-radius: 10px;
		display: block;
		margin: 0 auto;
	
	}
	  
	.close-btn {
		top: 7%;
		left: 46%;
		width: 40px;
		height: 40px;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.523);
		color: white;
		border: none;
		box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.066);
		cursor: pointer;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		z-index: 1;
		}
		
	
	  .form-group input,
	  .form-group textarea {
		font-size: 0.6rem;
	  }
	
	  .submit-btn {
		padding: 8px 12px;
		width: 50%;
	  }
	  .project-button {
		font-weight: bold;
		font-size: 1.2rem;
	}
	.testando .text{
	  font-size: 2rem;
	  
	}
	
	.testando .text.first-text {

		font-size: 1.3rem;
	
	  }

	  .social-media {
		display: flex;
		justify-content: center;
		gap: 15px;
		margin-bottom: 10px;
		padding-bottom: 1.5rem;
	  }
	  
  .footer {
	width: 100%;
	height: 120px;
	background-color: #ffffff00;
	color: #fff;
	text-align: center;
	margin-bottom: 10%;

  }

	.content-wrapper {
    display: flex;
    flex-direction: column;

	overflow-y: auto;
	gap: 0.6rem;
	
	}

  .social-icon img {
	width: 32px;
	height: 32px;
	fill: #fff;
  }
  .social-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #e7e7e7;
	transition: background-color 0.3s, transform 0.3s;
  }
  .image-column {
	flex: 0.6;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right:auto;
	order: -1;
	
}
.image-column img {
    max-width: 45%; 
    height: auto;
    border-radius: 50%; 
}

.text-column {
    flex: 1;
    text-align: left;
    padding-right: 1.5rem; 
    overflow-y: auto; 
    height: 100%; 
	margin-left: 1.5rem;
	align-items: left;
}
.top-section {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
	gap: 1.6rem; 
    margin-bottom: 5%; 
}
.bottom-text {
    width: 90%;
    box-sizing: border-box;
    margin-left: 1.5rem;
    align-items: left;
	padding-right: 1.5rem;
	margin-bottom: 4%;
}
.resume-button {
    text-align: center;
    margin-right: 10%;
    margin-bottom: 5%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px 10px; 
    width: 100%;
    max-width: 1300px;
	margin-bottom: 8%;
}

.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition: transform 0.3s ease;
    width: 70%; 
    height: auto; 
}


}

@media screen and (max-height: 720px) {
	
	
	.content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0.6rem;
		overflow-y: auto;
		margin-left: 4%;
		}
		.content-wrapper2 {
			display: flex;
			flex-direction: column;
			overflow-x: hidden;
			gap: 1rem;
			margin-bottom: 10%;
			margin-right: 4%;
			overflow-y: auto;
			}
		
		.bottom-text {
			width: 90%;
			box-sizing: border-box;
			
			align-items: left;
			margin-top: 5%;
		}
		.resume-button {
			display: inline-block;
			margin-top: 10%;	
			margin-bottom: 5%;
		}
		.submit-btn {
			padding: 8px 12px;
			
		  }
	.contact-form {
		width: 92%; 
		min-height: 100px;
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: center;
		gap: 0.5rem; 
		box-sizing: border-box; 
		padding: 10px; 
		margin-bottom: 5%; 
		overflow-y: auto; 
		
	  }

	  .buttons {
		display: flex;
		flex-direction: column; 
		align-items: center; 
		gap: 0.5rem; 
		width: 96%; 
		min-height: 100px;
		margin-bottom: 10%;
	}
	.image-column {
		flex: 0.5;
		margin-right: 2rem;
		display: flex;
		justify-content: center; 
		align-items: center; 
	}
	

  .contact-form::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #cccccc96;
  font-size: 1rem;
  box-sizing: border-box;
}

.content-wrapper2::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
.content-wrapper2::-webkit-scrollbar-thumb {
    background: #00000039;
    border-radius: 10px;
}
.content-wrapper2:-webkit-scrollbar-track {
    background: #f1f1f195;
    border-radius: 10px;
}

}