
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
::-webkit-scrollbar {
	width: 15px;
	height: 15px;
  }
  
  ::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 40px;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #8989892a;
	border-radius: 40px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #8989897f;
  }

html, body {
	overflow-x: hidden; 
	width: 100%; 
	font-family: "Urbanist", sans-serif;
	scroll-behavior: smooth;
	background-color: #f7f7f7;
  }

.testando {
	position: absolute;
	width: 100%;
	height: 100%; 
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
	overflow: hidden;
  }
.testando .text{
	position: relative;
  font-size: 4rem;
  font-weight: 700;
  color: #1800f3;
  text-align: center;
  align-items: center;
  margin-top: 10%;
  margin: 0;
}

.testando .text.first-text {
	color: rgba(0, 0, 0, 0.588);
	font-weight: 300;
	font-size: 3.3rem;
	margin-bottom: 10px; 
  }

.text.sec-text:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #f7f7f7;
	border-left : 2px solid #1606c4;
	animation : animate 4s steps(12) infinite;
}

@keyframes animate{
	40%, 60%{
		left: calc(100% + 4px);
	}
	100%{
		left: 0%;
	}
}

img {
	pointer-events: none; 

  }

.container {
  width: 100%;
  height: 100%;

}
section {
  width: 100vw;
  height: 100vh;
}

.hero h1{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 400;
	font-size: clamp(6rem, 15vw, 15rem);
	color: black;
	letter-spacing: clamp(-0.5rem, -1vw);
	line-height: 90%;
}

.card.scroll {
	position: relative;	
}

.img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 90%; 
	max-height: 70%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 700px;
	background-color: rgba(205, 205, 205, 0.564);
	border-radius: 40px;
 
	padding-top: 1.5%;
	display: flex;
	flex-direction: column; 
	 
	justify-content: flex-start;
	gap: 4vh; 
	backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
  }
  

.img h1 {
	font-size: 2.5rem; 
	margin: 0; 
	margin-left: 3.9vw; 
	margin-top: 1vh; 
	margin-right: 3vw; 
	color:rgb(0, 0, 0)
  }

  .img h2 {
	margin-left: 3vw; 
	margin-top: 1vh; 
	margin-right: 20px; 
	font-size: 1.5rem; 
  }


p {
  color: rgb(85,85,85);
}


a, .btn {
  transition: all 300ms ease;
}


nav, 
.navlinks {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

a {
  text-decoration: none;
  color: black;
}

h3{
	margin-left: 8%;
}


.sidebar {
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(255, 255, 255, 0.8);
  padding: 17px;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  text-decoration: none;
  transition: background 0.3s, filter 0.3s, transform 0.3s;
  cursor: pointer;
  
}


.sidebar-icon img, .sidebar-icon svg {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  filter: grayscale(80%); 
  transition: filter 0.3s, transform 0.3s; 
}


.sidebar-icon:hover img, .sidebar-icon:hover svg {
  filter: grayscale(0%); 
  opacity: 1;
}


.sidebar-icon:active img, .sidebar-icon:active svg {
  
  transform: scale(1.1); 
  opacity: 1;
}

.sidebar-icon.active img {
    filter: grayscale(0%); 
	opacity: 1;
}

.sidebar-icon:hover {
  background: rgba(255, 255, 255, 0.8);
  opacity: 1; 
}


#mobile-nav {
  display: none; 
}

.lowerbar {
	position: fixed;
	bottom: 0.9rem;
	left: 1rem; 
	right: 1rem; 
	width: calc(100% - 2rem); 
	height: 75px; 
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
  }
  

.lowerbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  transition: filter 0.3s, transform 0.3s; 
}


.lowerbar-icon img, .lowerbar-icon svg {
  width: 35px;
  height: 35px;
  filter: grayscale(100%); 
  opacity: 0.5;
}


.lowerbar-icon:hover img, .lowerbar-icon:hover svg {
  filter: grayscale(0%); 
  opacity: 1;
}


.lowerbar-icon:active img, .lowerbar-icon:active svg {
  filter: grayscale(0%); 
  transform: scale(1.1); 
  opacity: 1;
}

.lowerbar-icon.active img {
    filter: grayscale(0%); 
	opacity: 1;
}



.buttons {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	gap: 0.5rem; 
	width: 96%; 
	min-height: 100px;
	margin-bottom: 10%;
	overflow-y: auto;
}

.project-list {
	display: flex;
	flex-direction: column; 
	gap: 0; 
	align-items: center; 
	width: 100%; 
	align-self: center;
}


.project-button {
	background-color: transparent; 
	font: inherit;
	color: rgb(0, 0, 0); 
	border: none; 
	padding: 1rem 10px; 
	padding-bottom: 1rem;
	font-weight: bold;
	font-size: 1.3rem;
	cursor: pointer;
	transition: color 0.3s; 
	width: 100%; 
	text-align: center;
	position: relative; 
}

.project-button::after {
	content: '';
	position: absolute;
	left: 52%;
	bottom: 0px;
	border-radius: 2px;
	transform: translateX(-50%);
	width: 90%;
	height: 2px;
	background-color: #39393926;
}

.project-button:last-child::after {
	content: none; 
}

.project-button:hover {
	color: #a2a2a2; 
}

.buttons::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}
  
.buttons::-webkit-scrollbar-thumb {
    background: #00000039; 
    border-radius: 10px; 
}
.buttons::-webkit-scrollbar-track {
    background: #f1f1f184; 
    border-radius: 10px; 
}

  


  .modal {
	display: none;  
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.58);
	backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
	
  }
  .modal-content {
	position: absolute;
    left: 10%;
    width: 80%;
	
	top: 1%;
    height: 70%;
    background-color: rgba(124, 34, 34, 0);
    border-radius: 40px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	gap: 1%;
}

.media-container {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0%;
}

.modal-content video {
    max-height: 55vh; 
	max-width: 40vw;
    border-radius: 20px;
    display: block;
	margin: 0 auto; 

}
.modal-content img {
    max-height: 55vh; 
	max-width: 80vh;
    border-radius: 10px;
    display: block;
	margin: 0 auto; 

}

.nav-btn {
	width: 50px;
	height: 50px;
	bottom: -5%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: white;
    border: none;
	box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.066);
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    z-index: 1;
}

.prev-btn {
    left: 5%;
}

.next-btn {
    right: 5%;
}

.modal-icon {
	width: 24px;
	height: 25px;
	justify-content: center;
	align-items: center;
}
.modal2-icon {
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
}
.modal-content p {
    text-align: left;
	padding-top: 1%;
    font-size: 1rem;
	justify-content: center;
	align-items: center;
}
.media-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.media-container {
    width: 35%;
}
.intro-text {
	max-width: 30%;
 
	height: auto;
    text-align: right;
    font-size: 1rem;
	margin-right: 10%;
	background-color: #ffffff00;
	align-items: center;
}
  
 .close-btn {
top: 8%;
left: 47.5%;

  position: absolute;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: white;
  margin-bottom: 10%;
  box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.066);
  
  border: none; 
  border-radius: 50%;
  color: #00000027;
  cursor: pointer;
}

  .contact-form {
	width: 92%; 
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	gap: 1.4rem; 
	box-sizing: border-box; 
    padding: 20px; 
	margin-bottom: 8%; 
	 
	
  }
  .contact-form::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}
  
.contact-form::-webkit-scrollbar-thumb {
    background: #00000039; 
    border-radius: 10px; 
}
.contact-form::-webkit-scrollbar-track {
    background: #f1f1f195; 
    border-radius: 10px; 
}

  .form-group {
	display: flex;
	flex-direction: column;
  }
  
  .form-group label {
	font-size: 1rem;
	margin-bottom: 5px; 
  }
  
  .form-group input,
  .form-group textarea {
	width: 100%; 
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #cccccc96;
	font-size: 1rem;
	box-sizing: border-box;
  }
  
  .form-group textarea {
	resize: none; 
	min-height: 10px; 
	max-height: 800px; 
  }
  
  .submit-btn {
	padding: 10px 20px;
	margin-top: 3%;
	align-self: center; 
	width: 40%; 
	background-color: #2926E2;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
	background-color: #161491;
  }


@keyframes cursorEnter {
	0% {
	  transform: scale(0.5); 
	  opacity: 0;
	}
	50% {
	  transform: scale(1.1); 
	  opacity: 1;
	}
	100% {
	  transform: scale(1); 
	  opacity: 1;
	}
  }
  
  .custom-cursor {
	position: fixed;
	width: 43px;
	height: 45px;
	pointer-events: none;
	display: none;
	z-index: 1000;
	transition: transform 0.3s ease, opacity 0.3s ease; 
  }
  
  .custom-cursor.show {
	display: block; 
	animation: cursorEnter 0.6s ease; 
  }
  
  
  #custom-cursor-area {
	cursor: none; 
  }
  

  .footer {
	width: 100%;
	height: 100px; 
	background-color: #ffffff00; 
	color: #fff; 
	text-align: center; 
	margin-bottom: 1%;

  }
  
  .social-media {
	display: flex;
	justify-content: center; 
	gap: 15px; 
	margin-bottom: 10px; 
	padding-bottom: 4rem; 
  }
  
  .social-icon {
	display: flex;
	align-items: center;
	justify-content: center; 
	width: 78px; 
	height: 78px; 
	border-radius: 50%; 
	background-color: #e7e7e7; 
	transition: background-color 0.3s, transform 0.3s; 
  }

  
  .social-icon img {
	width: 38px; 
	height: 38px; 
	fill: #fff; 
  }
  
  .social-icon:hover {
	background-color: #55555567; 
	transform: scale(1.0); 
  }
  
  .footer .copyright {
	margin-top: 10px; 
	font-size: 14px; 
	opacity: 0.4;
  }


.content-wrapper {
    display: flex;
    flex-direction: column;
	overflow-y: hidden;
	overflow-x: hidden;
	gap: 2rem;
	margin-bottom: 15%;
	margin-right: 4%;
}
.content-wrapper2 {
    display: flex;
    flex-direction: column;
	overflow-y: hidden;
	overflow-x: hidden;
	gap: 1rem;
	margin-bottom: 10%;
	margin-right: 4%;
}

.content-wrapper::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}
  
.content-wrapper::-webkit-scrollbar-thumb {
    background: #00000039; 
    border-radius: 10px; 
}
.content-wrapper::-webkit-scrollbar-track {
    background: #f1f1f195; 
    border-radius: 10px; 
}


.content-wrapper2::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}
  
.content-wrapper2::-webkit-scrollbar-thumb {
    background: #00000039; 
    border-radius: 10px; 
}
.content-wrapper::-webkit-scrollbar-track {
    background: #f1f1f195; 
    border-radius: 10px; 
}


.top-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 1%; 
}


.text-column {
    flex: 1.1;
    padding-right: 1rem; 
    margin-left: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.image-column {
    flex: 1;
    margin-right: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.image-column img {
    max-width: 90%; 
    height: auto;
    border-radius: 50%; 
	border: 3px solid #00000033;
}


.bottom-text {
    width: 90%;
    box-sizing: border-box;
    margin-left: 2rem;
    align-items: left;
}


.resume-button {
	position: absolute;
    display: inline-block;
    margin-left: 2rem; 
	bottom: 3%;
    color: rgb(3, 3, 3);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    margin-right: 60%;
    background-color: #8d4b4b00; 
    margin-bottom: 20%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1.4px;
}


.resume-button:hover {
    color: rgb(106, 106, 106); 
}



.skills-container {

	margin-right: 1%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px 20px; 
    width: 100%;
    max-width: 1200px;
    margin: 0 1rem;
	margin-bottom: 5%;

}

.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition: transform 0.3s ease;
    width: 100%; 
    height: auto; 
}

.skill-item svg {
    width: 100%;
    height: auto;
    max-width: 100px; 
    fill: #000;
}


.skills-container::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}
  
.skills-container::-webkit-scrollbar-thumb {
    background: #00000039; 
    border-radius: 10px; 
}
.skills-container:-webkit-scrollbar-track {
    background: #f1f1f195; 
    border-radius: 10px; 
}



.skill-item:hover {
    transform: scale(1.05);
}

