/* Importa a fonte */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 15px;
	height: 15px;
  }
  
  ::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 40px;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #8989892a;
	border-radius: 40px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #8989897f;
  }

html, body {
	overflow-x: hidden; /* Impede o scroll horizontal */
	width: 100%; /* Garante que o body não exceda a largura da viewport */
	font-family: "Urbanist", sans-serif;
	scroll-behavior: smooth;
  }
.testando {
	position: absolute;
	width: 100%;
	height: 100%; /* Certifica-se de que o container ocupa toda a altura disponível */
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centraliza verticalmente */
	align-items: center; /* Centraliza horizontalmente */
	overflow: hidden;
  }
.testando .text{
	position: relative;
  font-size: 4rem;
  font-weight: 700;
  color: #1800f3;
  text-align: center;
  align-items: center;
  margin-top: 10%;
  margin: 0;
}

.testando .text.first-text {
	color: rgb(0, 0, 0);
	font-weight: 300;
	font-size: 3.3rem;
	margin-bottom: 10px; /* Adiciona um pequeno espaçamento entre os textos */
  }

.text.sec-text:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(255, 255, 255);
	border-left : 2px solid #1606c4;
	animation : animate 4s steps(12) infinite;
}

@keyframes animate{
	40%, 60%{
		left: calc(100% + 4px);
	}
	100%{
		left: 0%;
	}
}

img {
	pointer-events: none; /* Desativa todos os eventos do ponteiro, incluindo arrastar */
/* Para navegadores que suportam */
  }

.container {
  width: 100%;
  height: 100%;

}
section {
  width: 100vw;
  height: 100vh;
}

.hero h1{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 400;
	font-size: clamp(6rem, 15vw, 15rem);
	color: black;
	letter-spacing: clamp(-0.5rem, -1vw);
	line-height: 90%;
}

.card.scroll {
	position: relative;	
}

.img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 90%; /* Ajusta a largura máxima ao tamanho do contêiner pai */
	max-height: 70%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 700px;
	background-color: rgba(205, 205, 205, 0.564);
	border-radius: 40px;
 /* Espaço interno ao redor dos botões */
	padding-top: 1.5%;
	display: flex;
	flex-direction: column; /* Alinha os itens verticalmente */
	 /* Centraliza os itens horizontalmente */
	justify-content: flex-start;/* Centraliza os itens verticalmente */
	gap: 4vh; /* Adiciona espaçamento entre os elementos filhos */
	backdrop-filter: blur(10px); /* Adiciona o efeito de desfoque ao fundo */
    -webkit-backdrop-filter: blur(10px); /* Prefixo para compatibilidade com WebKit */
  }
  

.img h1 {
	font-size: 2.5rem; /* Ajusta o tamanho da fonte conforme necessário */
	margin: 0; /* Remove a margem padrão */
	margin-left: 3.9vw; /* Margem lateral esquerda */
	margin-top: 1vh; /* Margem superior */
	margin-right: 3vw; /* Margem lateral direita */
  }

  .img h2 {
	margin-left: 3vw; /* Margem lateral esquerda */
	margin-top: 1vh; /* Margem superior */
	margin-right: 20px; 
	font-size: 1.5rem; /* Ajusta o tamanho da fonte conforme necessário */
  }

.footer{
	width: 1%;
	height: 0.001vh;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(100, 100, 100);
}

p {
  color: rgb(85,85,85);
}

/* TRANSITION */
a, .btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav, 
.navlinks {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

a {
  text-decoration: none;
  color: black;
}

/* Barra Lateral Flutuante */
.sidebar {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(255, 255, 255, 0.8);
  padding: 17px;
  border-radius: 50px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  text-decoration: none;
  transition: background 0.3s, filter 0.3s, transform 0.3s;
  cursor: pointer;
  
}

/* Cores dos ícones e transições */
.sidebar-icon img, .sidebar-icon svg {
  width: 40px;
  height: 40px;
  opacity: 1;
  filter: grayscale(100%); /* Desatura completamente, preto e branco */
  transition: filter 0.3s, transform 0.3s; /* Transição para filter */
}

/* Hover */
.sidebar-icon:hover img, .sidebar-icon:hover svg {
  filter: grayscale(0%); /* Restaura a cor ao passar o mouse */
}

/* Clique */
.sidebar-icon:active img, .sidebar-icon:active svg {
  filter: grayscale(0%); /* Garante que a cor completa esteja visível ao clicar */
  transform: scale(1.1); /* Opcional: aumenta o ícone ao clicar */
}

.sidebar-icon:hover {
  background: rgba(255, 255, 255, 0.8); /* Cor de fundo ao passar o mouse */
}

/* Mobile Navbar (Bottom Bar) */
#mobile-nav {
  display: none; /* Oculta a barra inferior em telas maiores */
}

.lowerbar {
	position: fixed;
	bottom: 0.9rem;
	left: 1rem; /* Remova esta linha se precisar usar o right */
	right: 1rem; /* Adicione esta linha se quiser usar right */
	width: calc(100% - 2rem); /* Ajusta a largura para compensar os valores de left e right */
	height: 75px; /* Ajuste a altura conforme necessário */
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
  }
  

.lowerbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  transition: filter 0.3s, transform 0.3s; /* Adiciona transição */
}

/* Transições dos ícones da barra inferior */
.lowerbar-icon img, .lowerbar-icon svg {
  width: 35px;
  height: 35px;
  filter: grayscale(100%); /* Desatura completamente, preto e branco */
}

/* Hover */
.lowerbar-icon:hover img, .lowerbar-icon:hover svg {
  filter: grayscale(0%); /* Restaura a cor ao passar o mouse */
}

/* Clique */
.lowerbar-icon:active img, .lowerbar-icon:active svg {
  filter: grayscale(0%); /* Garante que a cor completa esteja visível ao clicar */
  transform: scale(1.1); /* Opcional: aumenta o ícone ao clicar */
}



.buttons {
	display: flex;
	flex-direction: column; /* Alinha os botões verticalmente em uma coluna */
	align-items: center; /* Centraliza os botões horizontalmente dentro do contêiner */
	gap: 0.5rem; /* Espaçamento entre os botões */
	width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
	min-height: 100px;
	margin-bottom: 10%;
	overflow-y: auto;
}

.project-list {
	display: flex;
	flex-direction: column; /* Alinha os botões verticalmente */
	gap: 0; /* Remove o espaçamento entre os botões */
	align-items: center; /* Centraliza os botões horizontalmente */
	width: 100%; /* Garante que a lista de botões ocupe toda a largura disponível */
	align-self: center;
}


.project-button {
	background-color: transparent; /* Remove o background */
	font: inherit;
	color: rgb(0, 0, 0); /* Cor do texto padrão */
	border: none; /* Remove a borda dos botões */
	padding: 1rem 10px; /* Espaçamento interno dos botões */
	padding-bottom: 1rem;
	font-weight: bold;
	font-size: 1.3rem;
	cursor: pointer;
	transition: color 0.3s; /* Transição suave para a cor do texto */
	width: 100%; /* Faz com que os botões ocupem toda a largura disponível */
	text-align: center;
	position: relative; /* Necessário para o pseudo-elemento */
}

.project-button::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0px;
	border-radius: 2px;
	transform: translateX(-50%);
	width: 90%;
	height: 2px;
	background-color: #39393926;
}

.project-button:last-child::after {
	content: none; /* Remove o traço do último botão */
}

.project-button:hover {
	color: #a2a2a2; /* Muda a cor do texto ao passar o mouse */
}

  /* Estilo para o modal */
  .modal {
	display: none;  /* Oculta o modal por padrão */
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(255, 255, 255);
  }
  
  .modal-content {
	position: absolute;
	top: 50%;
	left: 50.8%;
	max-width: 90%; /* Ajusta a largura máxima ao tamanho do contêiner pai */
	max-height: 70%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 700px;
	background-color: rgb(221, 221, 221);
	border-radius: 40px;
	padding: 20px; /* Espaço interno ao redor dos botões */
	display: flex;
	align-items: center;
	flex-direction: column; /* Alinha os itens verticalmente */
	 /* Centraliza os itens horizontalmente */
	justify-content: center; /* Centraliza os itens verticalmente */
	gap: 30px; /* Adiciona espaçamento entre os elementos filhos */
  }
  
  .modal-content img, .modal-content video {
	width: 80%;
	height: auto;
	border-radius: 30px;
	
	display: block;
  }
  
  .modal-content p {
	margin-top: 3px;
	margin-left: 0px ;
	font-size: 1.2rem;
  }
  
 .close-btn {
top: 9%;
left: 50.8%;
  position: relative;
  font-size: 2rem;

  border: none; /* Remove a borda padrão */
  border-radius: 50%;
  color: #00000027;
  cursor: pointer;
}

  .contact-form {
	width: 92%; /* Garante que o formulário ocupe toda a largura disponível */
	min-height: 100px;/* Altura do formulário */
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	gap: 1.6rem; /* Espaçamento entre os campos do formulário */
	box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
    padding: 20px; /* Adiciona padding interno para espaçamento *//* Arredonda os cantos da card */
	padding-bottom: 10%; /* Espaçamento inferior */
	overflow-y: auto; /* Adiciona barra de rolagem vertical */
	
  }
  .contact-form::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal (se necessário) */
}
  
.contact-form::-webkit-scrollbar-thumb {
    background: #00000039; /* Cor do polegar da barra de rolagem */
    border-radius: 10px; /* Arredonda os cantos do polegar */
}
.contact-form::-webkit-scrollbar-track {
    background: #f1f1f195; /* Cor de fundo da trilha da barra de rolagem */
    border-radius: 10px; /* Arredonda os cantos da trilha */
}

  .form-group {
	display: flex;
	flex-direction: column;
  }
  
  .form-group label {
	font-size: 1rem;
	margin-bottom: 5px; /* Espaçamento abaixo do rótulo */
  }
  
  .form-group input,
  .form-group textarea {
	width: 100%; /* Garante que os campos ocupem toda a largura disponível */
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #cccccc96;
	font-size: 1rem;
	box-sizing: border-box;
  }
  
  .form-group textarea {
	resize: none; /* Permite redimensionar verticalmente */
	min-height: 10px; /* Altura mínima */
	max-height: 800px; /* Altura máxima */
  }
  
  .submit-btn {
	padding: 10px 20px;
	margin-top: 3%;
	align-self: center; /* Centraliza o botão horizontalmente */
	width: 40%; /* Ajusta a largura do botão */
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
	background-color: #0056b3;
  }